@model Biuro_Podróży.Models.Wycieczka_Klient

@{
    ViewData["Title"] = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć rezerwację?</h3>
<div>
    <h4>Wycieczka_Klient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bilety)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bilety)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wycieczka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wycieczka.Miejsce)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_zamowienia" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
