@using Microsoft.AspNetCore.Http;
@model Biuro_Podróży.Models.Wycieczka
@{
    ViewData["Title"] = "Szczegóły";
}
<h2>Szczegóły wycieczki</h2>

<div>
    <img class="card-img-top" style="width:200px" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Image)" />
    <hr />
    <dl class="dl-horizontal">
        <dt>Miejsce</dt>
        <dd>@Model.Miejsce</dd>
        <dt>Początek - Koniec</dt>
        <dd>@Model.Data_start - @Model.Data_end</dd>
        <dt>Jedzenie</dt>
        <dd>@Model.Jedzenie</dd>
        <dt>Zakwaterowanie</dt>
        <dd>@Model.Zakwaterowanie</dd>
        <dt>Opis</dt>
        <dd>@Model.Opis</dd>
    </dl>
</div>
<div class="row">
    <a asp-action="RKlient" asp-controller="Rezerwacje" asp-route-id="@Model.Id_wycieczki" class="btn btn-success" >Zamów</a>
    <a asp-action="Edit" asp-controller="Wycieczka" asp-route-id="@Model.Id_wycieczki" class="btn btn-primary">Edycja</a>
    <a asp-action="Delete" asp-controller="Wycieczka" asp-route-id="@Model.Id_wycieczki" class="btn btn-warning">Usuń</a>
    <a asp-action="Index" class="btn btn-danger">Cofnij</a>
</div>
