@using Microsoft.AspNetCore.Http;
@model Biuro_Podróży.Models.Wycieczka

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Szczegóły wycieczki</h2>

<div>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Miejsce)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Miejsce)
            </dd>
            <dt>
                Start
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Data_start)
            </dd>
            <dt>
                Koniec
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Data_end)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cena)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cena)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Opis)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Opis)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Jedzenie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Jedzenie.Nazwa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Zakwaterowanie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Zakwaterowanie.Nazwa)
            </dd>
        </dl>
    </form>
</div>

<div>
    <a asp-action="Create" asp-route-id="@Model.Id_wycieczki">Zamów</a> |
    <a asp-action="Index">Powrót</a>
</div>