@using Microsoft.AspNetCore.Http;
@model IEnumerable<Biuro_Podróży.Models.Wycieczka>
@inject SignInManager<ApplicationUser> signinManager;
@{
    ViewData["Title"] = "Wycieczki";
}

    <div class="container" align="center">
        <h2>Wycieczki</h2>
        @if (signinManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a asp-action="Create" asp-controller="Wycieczka" class="btn btn-info" style="width:auto">Dodaj wycieczkę</a>
        }
        <hr />
        @{
            @foreach (var wycieczka in Model)
            {
              <div class="responsive">
                  <div class="gallery2">
                      <a asp-action="Details" asp-controller="Wycieczka" asp-route-id="@wycieczka.Id_wycieczki">
                          <div style="height:300px">
                              <img src="data:image/jpg;base64,@Convert.ToBase64String(wycieczka.Image)" alt="Cinque Terre" style="height:100%; width:100%">
                          </div>
                      </a>
                      <div class="desc">
                          <span class="travel-direction-word">kierunek &rarr;</span>
                          <span class="travel-direction-body">@wycieczka.Miejsce</span>
                          <br />
                          <span class="travel-direction-word">cena &rarr;</span>
                          <span class="travel-direction-body">@wycieczka.Cena zł</span>
                          <a asp-action="Details" asp-controller="Wycieczka" asp-route-id="@wycieczka.Id_wycieczki" class="btn btn-info">Szczegóły</a>
                          @if (signinManager.IsSignedIn(User) && User.IsInRole("Admin"))
                          {
                              <a asp-action="Edit" asp-controller="Wycieczka" asp-route-id="@wycieczka.Id_wycieczki" class="btn btn-primary">Edycja</a>
                              <a asp-action="Delete" asp-controller="Wycieczka" asp-route-id="@wycieczka.Id_wycieczki" class="btn btn-warning">Usuń</a>
                          }
                      </div>
                  </div>
              </div>
            }
        }
    </div>