@model Biuro_Podróży.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Miejscowosc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Miejscowosc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uprawnienia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uprawnienia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_usera">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
